<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{common :: commonHead}">
  <title>Product Manager</title>
</head>

<body>
<div class="container">
  <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
    <h1>Product List</h1>
    <form th:action="@{/logout}" method="post">
      <button type="submit" class="btn btn-outline-secondary">Logout</button>
    </form>
  </div>
  <form th:action="@{/products/new}" method="get" style="display:inline;">
    <button class="btn btn-primary mb-3"
            th:attr="disabled=${!#authorization.expression('hasRole(''ADMIN'')')}">
      Create New Product
    </button>
  </form>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Made In</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${listProducts}">
      <td th:text="${product.id}">Product ID</td>
      <td th:text="${product.name}">Name</td>
      <td th:text="${product.brand}">Brand</td>
      <td th:text="${product.madeIn}">Made in</td>
      <td th:text="${product.price}">Price</td>
      <td>
        <form th:action="@{'/products/edit/' + ${product.id}}" method="get" style="display:inline;">
          <button class="btn btn-primary btn-sm"
                  th:attr="disabled=${!#authorization.expression('hasRole(''ADMIN'')')}">
            Edit
          </button>
        </form>

        <form th:action="@{'/products/delete/' + ${product.id}}" method="get" style="display:inline;">
          <button class="btn btn-danger btn-sm"
                  th:attr="disabled=${!#authorization.expression('hasRole(''ADMIN'')')}">
            Delete
          </button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Bootstrap JS fragment 삽입 -->
<div th:insert="~{common :: commonScript}"></div>
</body>
</html>
